
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Supplier.cshtml";
}

<a asp-action="AddProduct" asp-controller="ProductPanel" class="btn btn-info btn sm">Ürün Ekle</a>
<a asp-action="ProductList" asp-controller="ProductPanel" class="btn btn-info btn sm">Ürünlerim</a>

