
@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<h2 class="text-center mt-4" >..::HATA::..</h2>
<h4 class=" text-danger text-center">Bu sayfaya erişim izniniz bulunmamaktadır.</h4>
