<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://cdn.ckeditor.com/4.15.1/standard/ckeditor.js"></script>

</head>
<body>
    <div class="container">
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MvcWebUI</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index">Anasayfa</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Cart" asp-action="Index">Sepet</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Supplier" asp-action="Index">Satıcılar</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Supplier" asp-action="Index">Satıcılar</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="LogOut">Çıkış Yap</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <br />
        <br />
        <br />
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="list-group">
                        <a asp-action="UpdateUser" asp-controller="Panel" class="list-group-item list-group-item-action">
                            Bilgilerimi Güncelle
                        </a>
                        
                        <a asp-action="UserList" asp-controller="Role" class="list-group-item list-group-item-action">Kullanıcı Bilgileri</a>
                        <a asp-action="Index" asp-controller="ProductPanel" class="list-group-item list-group-item-action">Ürün İşlemleri</a>
                        <a asp-action="Index" asp-controller="SupplierInfo" class="list-group-item list-group-item-action">Firma Bilgileri</a>
                        <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>


                    </div>



                </div>
                <div class="col-md-8">
                    @RenderBody()


                </div>
            </div>



        </div>
    </div>
    <script>
        CKEDITOR.replace('editor1');
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
