@model UserUpdateViewModel
@{
    ViewData["Title"] = "UpdateUser";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<form asp-action="UpdateUser" asp-controller="Panel" method="post" class="w-75 mx-auto p-3" enctype="multipart/form-data">


    <div class="form-group">
        <label asp-for="FirstName"></label>

        <span asp-validation-for="FirstName" class="text-danger"></span>
        <input asp-for="FirstName" />
    </div>
    <div class="form-group">
        <label asp-for="LastName"></label>

        <span asp-validation-for="LastName" class="text-danger"></span>
        <input asp-for="LastName" />
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>

        <span asp-validation-for="Email" class="text-danger"></span>
        <input asp-for="Email" />
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber"></label>

        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        <input asp-for="PhoneNumber" />
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-md-4">
                <label>Profil Fotoğrafı</label>
                <img src="~/img/@Model.PictureUrl" alt="@Model.FirstName" class="w-100" />

            </div>

            <div class="col-md-8">

                <input type="file" asp-for="@Model.Picture" />


            </div>



        </div>


    </div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <button type="submit" class="btn btn-info btn-sm">Kaydet</button>


</form>

