@model PropertyListViewModel

@foreach (var item in Model.Properties)
{


<li class="nav-item">

    <a class="nav-link" href="/product/index?category=@item.PropertyID">@item.PropertyName</a>
</li>


}